body {
  background-color: black;
  color: white;
}

.app {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

button {
  background: black;
  border: 1px solid white;
  width: min-content;
  color: white;
  padding: 0.5rem;
}
